:root {
    --app-max-width: 720px;
    --font-size: 24px;
}

@media (max-width: 768px) {
    :root {
        --app-max-width: 700px;
    }
}

@media (max-width: 500px) {
    :root {
        --app-max-width: 320px;
        --font-size: 20px;
    }
}

@media (max-width: 375px) {
    :root {
        --app-max-width: 300px;
    }
}

@media (max-width: 280px) {
    :root {
        --app-max-width: 200px;
        --font-size: 14px;
    }
}
